ul{
    list-style-type: none;
    display: flex;
    margin:auto;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
    max-width: 75%;
}
li{
   padding:3px 5px;
    text-align: center;
    color:white;
    border: var(--other-bg-border-color) 1px solid;
    border-radius: .25rem;
    background: var(--other-bg-color);
    transition: all .75s;
}
li:hover{
    border:aqua 1px solid;
    transition: all .25s;
}
.smallLogo{
    position:absolute;
    left: 10%;
    bottom:5%;
    width:15rem;
}
@media screen and (max-width: 1880px){
    li{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    ul{
        max-width: 50%;
    }
}
