ul{
    list-style-type: none;
    display: flex;
    margin:auto;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
    float:right;
}
li{
   margin-left:8vw;
   margin-right:2vw;
   padding:3px 5px;
    text-align: center;
    color:white;
    border: var(--other-bg-border-color) 1px solid;
    border-radius: .25rem;
    background: var(--other-bg-color);
    transition: all .75s;
}
li:hover{
    border:aqua 1px solid;
    transition: all .25s;
}
.smallLogo{
    position:absolute;
    bottom:0;
    left:-19%;
    width:25vmin;
    
}
.imgContainer{
    position: relative;
}
