.myNav{
    left:3rem;
    top:3rem;
    width: 20%;
    height: fit-content;
}
.nav-link{
    background-color: var(--other-bg-color);
    border: aqua 1px solid;
    border-radius: .25rem;
}
.nav-link:hover{
    border-radius: .25rem;
    background-color: var(--other-bg-color-hover);
    transition: all .75ms;
    outline: aqua 1px solid;
}