

.card{
    transition: all 1s;
    background:var(--other-bg-color) !important;
    color:white;
    outline:var(--other-bg-border-color) 1px solid;
    transition:all 1s;
}
.musicCardDiv div:not(.musicPlayer){
    outline:var(--other-bg-border-color) 2px solid;
    border-radius: .25rem;
    transition:all 1s;
}

.musicCardDiv:hover, .musicCardDiv:hover div:not(.musicPlayer){
    outline:aqua 1px solid;
    background:var(--other-bg-color-hover) !important;
    transition: all .85s;
}