.headerBg{
    position:absolute;
    z-index: -1;
    top:5%;
    left:30%;
    height: 20%;
    width: 50vw;
    background: var(--other-bg-color);
    border-radius: .25rem;
    border: var(--other-bg-border-color) 1px solid;
    z-index: 4;
    transition: all .75s;
}
.headerBg:hover{
    background: var(--other-bg-color-hover);
    border: aqua 1px solid;
    transition: all .25s;
}
.headerBg img{
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    color:white;
}