.ContentContainer {
position: relative;
display:flex;
justify-content:center;
left:8%;
margin-top: 20vmin !important;
margin-bottom: 4vmin !important;
}

.ContentContainer .card{
    outline:rgb(255, 255, 255) 1px solid;
    background:var(--other-bg-color) !important;
    transition: all .85s;
}
.ContentContainer .card .card-body{
    outline:rgb(255, 255, 255) 1px solid !important;
    border-radius: .25rem;
}
.ContentContainer .card:hover{
    background:var(--other-bg-color-hover-bright) !important;
    transition: all .85s;
}

.featuredPlayer {
    height: 15vmin;
    position:absolute;
    top:15%;
}
.featuredCardBody {
    position: relative;
    left:48%;
    top:0%;
    width: 50%;
}