#MusicGrid{
    display:inline-grid;
    float:right;
    left:30%;
    top: 45%;
    position: absolute;
    column-gap: 5.5rem;
    row-gap: 3.5rem;
    grid-template-columns: repeat(2,max-content);

}