

.card{
    transition: all 1s;
    background-color:var(--other-bg-color) !important;
    color:white;
    outline:aqua 1px solid;
}
.card:hover{
    background-color:var(--other-bg-color-hover) !important;
    transition: all .85s;
}