#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root{
  --other-bg-color : rgb(0, 57, 57);
  --other-bg-color-hover: rgb(0, 109, 109);
}
body {
  overflow-x: hidden;
  background-color: grey !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}