#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
:root{
  --other-bg-color : rgba(0, 121, 121, 0.116) ;
  --other-bg-color-hover-bright:rgba(0, 219, 219, 0.399);
  --other-bg-color-hover:rgba(0, 176, 176, 0.292);
  --other-bg-border-color:rgba(0, 255, 255, 0.24);
  --other-bg-color-noopacity: rgba(0, 135, 135, 0.368);
}

@media screen and (max-width: 1880px) {
	html {
  	font-size: 14px;
  }
}
@media screen and (max-width: 1400px) {
	html {
  	font-size: 10px;
  }
}
@media screen and (max-width: 1200px) {
	html {
  	font-size: 8px;
  }
}
@media screen and (max-width: 800px) {
	html {
  	font-size: 6px;
  }
}

body {
  overflow-x: hidden;
  background:linear-gradient(.95turn,rgb(28, 28, 28),45%,rgb(0, 0, 0)) repeat-x scroll  !important;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}