#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height:100%;
}
:root{
  --other-bg-color : rgba(0, 121, 121, 0.116) ;
  --other-bg-color-hover-bright:rgba(0, 219, 219, 0.399);
  --other-bg-color-hover:rgba(0, 176, 176, 0.292);
  --other-bg-border-color:rgba(0, 255, 255, 0.24);
  --other-bg-color-noopacity: rgba(0, 135, 135, 0.368);
}
html{
bottom: 0;
}
body {
  overflow-x: hidden;
  background:linear-gradient(.95turn,rgb(50, 25, 24),45%,rgb(97, 23, 0))  !important;
  background-repeat:repeat-x;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}